<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
	  <listener class-name="listeners.ExtentReportListener"></listener>
	  <listener class-name="listeners.ScreenshotListener"></listener>
	 </listeners>

  <test thread-count="5" name="Test">
    <classes>
     		
      	 <class name="prod.Alerts"></class>
     	 <class name="prod.Regression"></class>
     	 <class name="prod.Membership_Restrictions"></class>
     	 <class name="stage.Alerts"></class>
     	 <class name="stage.SignupStage"></class>
   		 <class name="dev.SignupDev"></class>	
   </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
